<form name="loginForm" class="login">
  <div><span class="login-text"><b>账号登录</b></span></div>
  <div class="input-group" ng-class="{'has-error':(loginForm.$submitted || loginForm.username.$touched) && loginForm.username.$invalid}">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" name="username" 
      class="form-control username" 
      ng-model="vm.user.userName"
      placeholder="请输入用户名"
      requried>
      <div ng-messages="loginForm.username.$error"
         ng-show="(loginForm.$submitted || loginForm.username.$touched) && loginForm.username.$invalid ">

        <span class="form-control-static text-danger" ng-message="required">
          *企业名称不能为空！
        </span>
      </div>
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-lock"></span>
    </span>
    <input type="password" name="password" 
      class="form-control password"
      ng-model="vm.user.userPwd"
      placeholder="请输入密码">
  </div>
  <div>
    <input type="checkbox" name="checkbox"><span class="login-remember">30天内自动登录</span>
    <span class="pull-right forget-pwd"><a href="javascript:;">忘记密码？</a></span>
  </div>    
  <div class="text-center">
    <a type="button" class="btn btn-sm btn-info" ng-click="vm.login()">
      登录
    </a>
    <a type="button" ui-sref="home.register" class="btn btn-sm btn-info" ng-click="vm.register()">
      注册
    </a>
  </div>
</form>

