<form name="loginForm" class="login">
  <div><span class="login-text fm">账号登录</span></div>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-user"></span>
    </span>
    <input type="text" name="username" 
      class="form-control username" 
      ng-model="vm.user.userName"
      placeholder="请输入用户名">
  </div>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-lock"></span>
    </span>
    <input type="password" name="password" 
      class="form-control password"
      ng-model="vm.user.userPwd"
      placeholder="请输入密码">
  </div>  
  <div class="text-center">
    <a type="button" class="btn btn-sm btn-info fm" ng-click="vm.login()">
      登录
    </a>
    <a type="button" ui-sref="home.register" class="btn btn-sm btn-info fm" ng-click="vm.register()">
      注册
    </a>
  </div>
  <div class="errMsg">
    <div class="alert alert-warning errMsg" ng-if="vm.userNameIndex === -1 && vm.passwordIndex !== -1">
      <p class="text-center fm">用户名不存在</p> 
    </div>
    <div class="alert alert-warning errMsg" ng-if="vm.userNameIndex !== -1 && vm.passwordIndex === -1">
      <p class="text-center fm">密码错误</p> 
    </div>
    <div class="alert alert-warning errMsg" ng-if="vm.userNameIndex === -1 && vm.passwordIndex === -1">
      <p class="text-center fm">请输入用户名和密码</p> 
    </div>
  </div>
</form>

