<div class="row">
	<div class="col-sm-3">
		<div class="leftBar">
			<ul>
				<li>
					<div class="text-center"><a ui-sref="sys.customerList"><i class="fa fa-user" aria-hidden="true"></i></a></div>
					<div class="text-center fm list-text"><a ui-sref="sys.customerList">客户管理</a></div>
				</li>
				<li>
					<div class="text-center"><a ui-sref="sys.roomList"><i class="fa fa-bed" aria-hidden="true"></i></a></div>
					<div class="text-center fm list-text"><a ui-sref="sys.roomList">房间管理</a></div>
				</li>
				<li>
					<div class="text-center"><a ui-sref="sys.orderList"><i class="fa fa-clone" aria-hidden="true"></i></a></div>
					<div class="text-center fm list-text"><a ui-sref="sys.orderList">订单管理</a></div>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-9 main-content">
		<div ui-view></div>
	</div>
</div>
